*,
*::before,
*::after {
	padding: 0;
	margin:0;
	border:0;
	box-sizing: border-box;
}
.a {
	text-decoration: none;
}
.ul, 
.ol,
.li {
	list-style: none;
}
.img {
	vertical-align: top;
}
.h1,.h2,.h3,.h4,.h5,.h6 {
	font-weight: inherit;
}
.body {
	font-family: Roboto;
	background-color: #E5E5E5;
	max-width: 1238px;
}
.container {
	max-width: 1238 px;
	margin: 0 auto;
	padding-left: 40px;
	padding-right: 40px;
	background-color: #E5E5E5;
	box-sizing: border-box;
}
.header { 
	width: 100%;
	height: 90px;
}
.header_menu {
	background-color: #ffffff;
	display: flex;
	justify-content: space-around;
}
.menu_list li {
	display: inline-block;
	vertical-align: middle;
}
.list1 {
	font-weight: bold;
	font-size: 14px;
	border: 1px solid #000000;
	border-radius: 5px;
	width: 213px;
	height: 48px;
	text-align: center;
	padding: 10px 20px 10px 20px;
	align-items: baseline;
}
.picture1 {
	padding-right: 15px;
}
.list2 {
	font-weight: bold;
	font-size: 14px;
	border: 1px solid #000000;
	border-radius: 5px;
	width: 213px;
	height: 49px;
	text-align: center;
	padding: 10px 20px 10px 20px;
	align-items: baseline;
}
.picture2 {
	padding-right: 15px;
}
.list3 {
	font-weight: bold;
	font-size: 14px;
	border: 1px solid #000000;
	border-radius: 5px;
	width: 213px;
	height: 49px;
	text-align: center;
	padding: 10px 20px 10px 20px;
	align-items: baseline;
}
.picture3 {
	padding-right: 15px;
}
.list4 {
	font-weight: bold;
	font-size: 14px;
	border: 1px solid #000000;
	border-radius: 5px;
	width: 213px;
	height: 49px;
	text-align: center;
	padding: 10px 20px 10px 20px;
	align-items: baseline;
}
.picture4 {
	padding-right: 15px;
}
.picture5 {
	padding-right: 15px;
}
.list5 {
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	padding: 10px 20px 10px 20px;
}
.picture6 {
}
.list1:hover {
	background-color: #162970;
	transition: all 1000ms;
}
.list2:hover {
	background-color: #162970;
	transition: all 1000ms;
}
.list3:hover {
	background-color: #162970;
	transition: all 1000ms;
}
.list4:hover {
	background-color: #162970;
	transition: all 1000ms;
}
.list5:hover {
	background-color: #162970;
	transition: all 1000ms;
}
.flex-container {
	display: flex;
	justify-content: space-between;
}
.farm {
}
.box {
	opacity: 30%;
}
.ltc {
	padding-right: 5px; 	
}
.box2 {
	opacity: 30%;
}
.btc {
	padding-right: 5px;
}
.box3 {
	opacity: 30%;
}
.eth {
	padding-right: 5px;
}
.box4 {
	border: 1px solid #162970;
	background-color: #162970;
	border-radius: 20px;
	width: 290px;
	height: 40px;
	text-align: center;
	padding: 10px 20px 10px 20px;
}
.plus {
	padding-right: 10px;
}
.box4:hover {
	background-color: #162970; 
	transition: all 1000ms;
}
.flex-container2 {
	display: flex;
	justify-content: space-between;
}
.boxes {
	width: 290px;
	height: 105px;
	background-color: #ffffff;
	text-align: left;
	padding-left: 20px;
	border-radius: 5px;
}
.boxes:hover {
	border: 3px solid #e6b800;
	transition: all 500ms;
}
.boxes2 {
	width: 290px;
	height: 105px;
	background-color: #ffffff;
	text-align: left;
	padding-left: 20px;
	border-radius: 5px;
}
.boxes2:hover {
	border: 3px solid #e6b800;
	transition: all 500ms;
}
.boxes3 {
	width: 290px;
	height: 105px;
	background-color: #ffffff;
	text-align: left;
	padding-left: 20px;
	border-radius: 5px;
}
.boxes3:hover {
	border: 3px solid #e6b800;
	transition: all 500ms;
}
.boxes4 {
	width: 290px;
	height: 105px;
	background-color: #ffffff;
	text-align: left;
	padding-left: 20px;
	border-radius: 5px;
}
.boxes4:hover {
	border: 3px solid #e6b800;
	transition: all 500ms;
}
.text {
	opacity: 50%;
	padding-top: 5px;
}
.text2 {
	padding-top: 7px;
}
.text3 {
	padding-top: 7px;
}
.text4 {
	padding-top: 5px;
}
.text5 {
	padding-top: 7px;
}
.text6 {
	padding-top: 7px;
}
.text7 {
	padding-top: 5px;
}
.text8 {
	padding-top: 7px;
}
.text9 {
	padding-top: 7px;
}
.text10 {
	padding-top: 5px;
}
.text11 {
	padding-top: 7px;
}
.text12 {
	padding-top: 7px;
}
.foto {
	padding-right: 5px;
}
.foto2 {
	padding-right: 5px;
}
.foto3 {
	padding-right: 5px;
}
.elips {
	 opacity: 50%;
	 padding-left: 60px;
}
.ltc2 {
	padding-left: 80px;
}
.romb {
	padding-left: 80px;
}
.ltc_vektor {
	width: 80px;
	margin-left: 100px;
	margin-bottom: 40px;
}
.bitcoin {
	width: 50px;
	padding-left: 30px;
	padding-top: 5px;
}
.flex-container3 {
	display: flex;
	justify-content: space-between;
}
.binance_buy {
	display: flex;
	margin-top: 10px;
}
.binance {
	width: 145px;
	height: 36px;
	border-radius: 5px;
	background-color: #ffffff;
}
.buy {
	width: 145px;
	height: 36px;
	border: 1px solid #ffffff;
	border-radius: 5px;
}
.autobuy {
	width: 290px;
	height: 36px;
	border-radius: 5px;
	background-color: #ffffff;
	margin-top: 10px;
	text-align: center;
	padding-top: 5px;
}
.autobuy2 {
	width: 290px;
	height: 36px;
	border-radius: 5px;
	background-color: #ffffff;
	margin-top: 10px;
	text-align: center;
	padding-top: 5px;
}
.autobuy3 {
	width: 290px;
	height: 36px;
	border-radius: 5px;
	background-color: #ffffff;
	margin-top: 10px;
	text-align: center;
	padding-top: 5px;
}
.flex-container4 {
	display: flex;
	margin-top: 20px;
}
.dash {
	width: 290px;
	height: 105px;
	background-color: #ffffff;
	text-align: left;
	padding-left: 20px;
	border-radius: 5px;
}
.dash:hover {
	border: 3px solid #e6b800;
	transition: all 500ms;
}
.monero {
	width: 290px;
	height: 105px;
	background-color: #ffffff;
	text-align: left;
	padding-left: 20px;
	border-radius: 5px;
	margin-left: 100px;
}
.monero:hover {
	border: 3px solid #e6b800;
	transition: all 500ms;
}
.flex-container5 {
	display: flex;
}
.autobuy4 {
	width: 290px;
	height: 36px;
	border-radius: 5px;
	background-color: #ffffff;
	margin-top: 10px;
	text-align: center;
	padding-top: 5px;
	margin-left: 100px;
}