*,
*::before,
*::after {
	padding: 0;
	margin:0;
	border:0;
	box-sizing: border-box;
}
.a {
	text-decoration: none;
}
.ul, 
.ol,
.li {
	list-style: none;
}
.img {
	vertical-align: top;
}
.h1,.h2,.h3,.h4,.h5,.h6 {
	font-weight: inherit;
}
.body {
	font-family: Roboto;
	background-color: #E5E5E5;
	max-width: 1238px;
}
.container {
	max-width: 1238 px;
	margin: 0 auto;
	padding-left: 40px;
	padding-right: 40px;
	background-color: #E5E5E5;
	box-sizing: border-box;
}
.header { 
	width: 100%;
	height: 90px;
}
.header_menu {
	background-color: #ffffff;
	display: flex;
	justify-content: space-around;
}
.menu_list li {
	display: inline-block;
	vertical-align: middle;
}
.list1 {
	font-weight: bold;
	font-size: 14px;
	border: 1px solid #000000;
	border-radius: 5px;
	width: 213px;
	height: 48px;
	text-align: center;
	padding: 10px 20px 10px 20px;
	align-items: baseline;
}
.picture1 {
	padding-right: 15px;
}
.list2 {
	font-weight: bold;
	font-size: 14px;
	border: 1px solid #000000;
	border-radius: 5px;
	width: 213px;
	height: 49px;
	text-align: center;
	padding: 10px 20px 10px 20px;
	align-items: baseline;
}
.picture2 {
	padding-right: 15px;
}
.list3 {
	font-weight: bold;
	font-size: 14px;
	border: 1px solid #000000;
	border-radius: 5px;
	width: 213px;
	height: 49px;
	text-align: center;
	padding: 10px 20px 10px 20px;
	align-items: baseline;
}
.picture3 {
	padding-right: 15px;
}
.list4 {
	font-weight: bold;
	font-size: 14px;
	border: 1px solid #000000;
	border-radius: 5px;
	width: 213px;
	height: 49px;
	text-align: center;
	padding: 10px 20px 10px 20px;
	align-items: baseline;
}
.picture4 {
	padding-right: 15px;
}
.picture5 {
	padding-right: 15px;
}
.list5 {
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	padding: 10px 20px 10px 20px;
}
.picture6 {
}
.list1:hover {
	background-color: #162970;
	transition: all 1000ms;
}
.list2:hover {
	background-color: #162970;
	transition: all 1000ms;
}
.list3:hover {
	background-color: #162970;
	transition: all 1000ms;
}
.list4:hover {
	background-color: #162970;
	transition: all 1000ms;
}
.list5:hover {
	background-color: #162970;
	transition: all 1000ms;
}
.flex-container {
	display: flex;
	justify-content: space-between;
}
.farm {
}
.box {
	opacity: 30%;
}
.ltc {
	padding-right: 5px; 	
}
.box2 {
	opacity: 30%;
}
.btc {
	padding-right: 5px;
}
.box3 {
	opacity: 30%;
}
.eth {
	padding-right: 5px;
}
.box4 {
	border: 1px solid #162970;
	background-color: #162970;
	border-radius: 20px;
	width: 290px;
	height: 40px;
	text-align: center;
	padding: 10px 20px 10px 20px;
}
.plus {
	padding-right: 10px;
}
.box4:hover {
	background-color: #162970; 
	transition: all 1000ms;
}
.flex-container2 {
	display: flex;
	justify-content: space-between;
}
.boxes {
	width: 290px;
	height: 105px;
	background-color: #ffffff;
	text-align: left;
	padding-left: 20px;
	border-radius: 5px;
}
.boxes:hover {
	border: 3px solid #e6b800;
	transition: all 500ms;
}
.boxes2 {
	width: 290px;
	height: 105px;
	background-color: #ffffff;
	text-align: left;
	padding-left: 20px;
	border-radius: 5px;
}
.boxes2:hover {
	border: 3px solid #e6b800;
	transition: all 500ms;
}
.boxes3 {
	width: 290px;
	height: 105px;
	background-color: #ffffff;
	text-align: left;
	padding-left: 20px;
	border-radius: 5px;
}
.boxes3:hover {
	border: 3px solid #e6b800;
	transition: all 500ms;
}
.boxes4 {
	width: 290px;
	height: 105px;
	background-color: #ffffff;
	text-align: left;
	padding-left: 20px;
	border-radius: 5px;
}
.boxes4:hover {
	border: 3px solid #e6b800;
	transition: all 500ms;
}
.text {
	opacity: 50%;
	padding-top: 5px;
}
.text2 {
	padding-top: 7px;
}
.text3 {
	padding-top: 7px;
	color: #4F4F4F;
}
.text4 {
	padding-top: 5px;
}
.text5 {
	padding-top: 7px;
}
.text6 {
	padding-top: 7px;
}
.text7 {
	padding-top: 5px;
}
.text8 {
	padding-top: 7px;
}
.text9 {
	padding-top: 7px;
}
.text10 {
	padding-top: 5px;
}
.text11 {
	padding-top: 7px;
}
.text12 {
	padding-top: 7px;
}
.foto {
	padding-right: 5px;
}
.foto2 {
	padding-right: 5px;
}
.foto3 {
	padding-right: 5px;
}
.elips {
	 opacity: 50%;
	 padding-left: 60px;
}
.ltc2 {
	padding-left: 80px;
}
.romb {
	padding-left: 80px;
}
.ltc_vektor {
	width: 80px;
	margin-left: 100px;
	margin-bottom: 40px;
}
.bitcoin {
	width: 50px;
	padding-left: 30px;
	padding-top: 5px;
}
.flex-container3 {
	display: flex;
	justify-content: space-between;
}
.binance_buy {
	display: flex;
	margin-top: 10px;
}
.binance {
	width: 145px;
	height: 36px;
	border-radius: 5px;
	background-color: #ffffff;
}
.buy {
	width: 145px;
	height: 36px;
	border: 1px solid #ffffff;
	border-radius: 5px;
}
.autobuy {
	width: 290px;
	height: 36px;
	border-radius: 5px;
	background-color: #ffffff;
	margin-top: 10px;
	text-align: center;
	padding-top: 5px;
}
.autobuy2 {
	width: 290px;
	height: 36px;
	border-radius: 5px;
	background-color: #ffffff;
	margin-top: 10px;
	text-align: center;
	padding-top: 5px;
}
.autobuy3 {
	width: 290px;
	height: 36px;
	border-radius: 5px;
	background-color: #ffffff;
	margin-top: 10px;
	text-align: center;
	padding-top: 5px;
}
.flex-container4 {
	display: flex;
	margin-top: 20px;
}
.dash {
	width: 290px;
	height: 105px;
	background-color: #ffffff;
	text-align: left;
	padding-left: 20px;
	border-radius: 5px;
}
.dash:hover {
	border: 3px solid #e6b800;
	transition: all 500ms;
}
.monero {
	width: 290px;
	height: 105px;
	background-color: #ffffff;
	text-align: left;
	padding-left: 20px;
	border-radius: 5px;
	margin-left: 100px;
}
.monero:hover {
	border: 3px solid #e6b800;
	transition: all 500ms;
}
.flex-container5 {
	display: flex;
}
.autobuy4 {
	width: 290px;
	height: 36px;
	border-radius: 5px;
	background-color: #ffffff;
	margin-top: 10px;
	text-align: center;
	padding-top: 5px;
	margin-left: 100px;
}
.flex-container6 {
	display: flex;
}
.balans {
	width: 106px;
	height: 53px;
	margin-top: 30px;
	margin-right: 20px;
}
.text13 {
	font-size: 14px;
	color: #828282;
}
.accrual {
	width: 106px;
	height: 53px;
	margin-top: 30px;
	margin-right: 20px;
}
.text14 {
	font-size: 14px;
	color: #828282;
}
.service {
	width: 106px;
	height: 53px;
	margin-top: 30px;
	margin-right: 20px;
}
.service2 {
	font-size: 14px;
	color: #828282;
}
span.text-color {
	color: #828282;
}
span.text-size {
	font-size: 12px;
	color: #828282;
}
.container2 {
	margin-top: 20px;
}
.container3 {
	margin-top: 20px;
	margin-bottom: 10px;
}
.dochod {
	font-size: 15px;
	color: #828282;
}
.dochod2 {
	font-size: 15px;
	color: #828282;
	margin-left: 784px;
}
.grafik {
	border: 1px solid #ffffff;
	background-color: #ffffff;
	width: 915px;
	height: 289px;
}
.text-color {
	background-color: #ffffff;
	color: #828282;
	border: 1px solid #828282;
	margin-top: 10px;
}
.button2 {
	margin-left: 500px;
}
.button02 {
	display: flex;
}
.tabl2 {
	border: 1px #828282;
}
.flex-container7 {
	display: flex;
}
.fin-tabl {
	width: 303px;
	height: 289px;
	background-color: #ffffff;
	margin-left: 20px;
}
.day {
	padding-left: 20px;
	color: #828282;
	font-size: 14px;
}
.numbers2 {
	padding-left: 20px;
	color: #4f4f4f;
	font-size: 18px;
}
.buttons {
	display: flex;
	width: 915px;
	justify-content: space-between;
	border: 1px solid #A3A3A3;
	padding: 5px 10px 5px 10px;
}
.container4 {
	margin-top: 50px;
}
.container5 {
	display: flex;
	justify-content: space-between;
	border: 1px solid #ffffff;
	width: 915px;
	height: 213px;
	background-color: #ffffff;
}	
.tarif {
	width: 915px;
	display: flex;
	background-color: #ffffff;
	justify-content: space-between;
	padding-bottom: 15px;
	padding-top: 15px;
	padding-left: 20px;
}
.tarif01 {
	font-size: 13px;
	color: #828282;
	margin-right: 120px;
}
.container5 > .tarif >last-child
.dochod3 {
	font-size: 15px;
	color: #828282;
	margin-left: 804px;
}
.optimal {
	width: 915px;
	background-color: #ffffff;
}
.optimal01 {
	width: 915px;
	background-color: #ffffff;
}
.optimal02 {
	width: 915px;
	background-color: #ffffff;
}
.btc1 {
	color: #255390;
	font-size: 15px;
	font-weight: bold;
	padding-left: 20px;
	padding-top: 20px;
}
.active {
	color: #219653;
	font-size: 13px;
	font-weight: bold;
	padding-left: 40px;
	padding-right: 40px;
}
.active1 {
	color: #F2994A;
	font-size: 13px;
	font-weight: bold;
	padding-left: 40px;
}
.date {
	color: #4F4F4F;
	font-size: 15px;
	font-weight: bold;
	padding-left: 40px;
}
.date2 {
	color: #4F4F4F;
	font-size: 15px;
	font-weight: bold;
	padding-left: 63px;
}
.time {
	color: #4F4F4F;
	font-size: 15px;
	font-weight: bold;
	padding-left: 140px;
}
.suma {
	color: #4F4F4F;
	font-size: 18px;
	font-weight: bold;
	padding-left: 40px;
}
.usd01 {
	color: #828282;
	font-size: 16px;
	padding-left: 40px;
}
.tarif02 {
	color: #828282;
	font-size: 13px;
	margin-right: 100px;
}